@model UIWeb.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vwNome" class="control-label"></label>
                <input asp-for="vwNome" class="form-control" />
                <span asp-validation-for="vwNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vwUsuario" class="control-label"></label>
                <input asp-for="vwUsuario" class="form-control" />
                <span asp-validation-for="vwUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vwSenha" class="control-label"></label>
                <input asp-for="vwSenha" class="form-control" />
                <span asp-validation-for="vwUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
